.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.dotsettings
*.sln.docstates

.vscode/

*.nuget.props
*.nuget.targets
packages/

bin/
obj/

TestResults/

_ReSharper*/
*.resharper*
*.DotSettings.user

.idea/
*.sln.iml
*.csproj.DotSettings.user

app/*
backend
publish